//<<<<<<<<<<2.1. Texto>>>>>>>>
#texto > h1 {
  font-size: 70px;
  font-family: "Yu Gothic UI Semilight", serif;
}

//<<<<<<<<<<2.2. Imagenes >>>>>>>>-->
#imgs {
  height: 370px;
  border-radius: 7px;
  width: 90%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
}
.contenedor-imagen:hover{
  margin-top: -15px;
  margin-bottom: 15px;
  transition: 0.5s;
}


.texto-img{
  z-index: 99;
  left: 10%;
  top: 80%;
}


.box-img > img {
  height: 100%;
  display: block;
}

@media (max-width: 719px) {
  #imgs{
    grid-template-columns: 1fr;
    padding: 0 0 0 10%;
  }
  .box-img > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }
  .texto-img{
    top: 10%;
    font-size: 35px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  #texto{
    padding: 0 0 0 10%;
  }
}
