<div class="d-grid justify-content-between" id="derecha">
  <!--    //<<<<<<<<<<2.1. Texto>>>>>>>>-->
  <div id="texto" class="text-blanco-roto">
    <h1>Eleva tu</h1>
    <h1 class="ms-5 texto-dorado"><i>Estilo de vida</i></h1>

    <div class="d-flex gap-3 w-75">
      <h6 class="text-madera-clara">
        Experimente el pináculo de la moda de alta gama, el gourmet artesanal y la sofisticada estructura en
        Maison Elite.
      </h6>
    </div>

  </div>
  <!--    //<<<<<<<<<<2.2. Imagenes >>>>>>>>-->

  <div id="imgs" class=" p-2 mt-2 d-grid">

    <div class="contenedor-imagen box-img " id="comida">
      <img src=" food.jfif" alt="" height="">
      <div class="d-grid position-absolute texto-img">
        <p class="texto-dorado m-0"> Exótico</p>
        <b class="text-white h5"> Gastronomía</b>
      </div>
    </div>

    <div class="contenedor-imagen box-img " id="ropa">
      <img src="descarga.jpg" alt="">
      <div class="d-grid position-absolute texto-img">
        <p class="texto-dorado m-0">Cultura</p>
        <b class="text-white h5">Moda</b>
      </div>
    </div>

    <div class="contenedor-imagen box-img" id="mueble">
      <img src="mueble.jpg" alt="">
      <div class="d-grid position-absolute texto-img">
        <p class="texto-dorado m-0">Artesanal</p>
        <b class="text-white h5">Muebles</b>
      </div>
    </div>

  </div>

</div>
