<div class="opacity-25 position-fixed top-0 bg-dorado-suave"
     id="fondo"
     [ngClass]="[visible()?'d-block':'d-none']"></div>
<div class="position-fixed bg-blanco-roto pb-3 position-relative" id="pop"
     [ngClass]="[visible()?'d-block':'d-none']">
  @if (icono() === 0) {
    <h2 class="text-madera-clara h1 mt-4 text-center">Cargando</h2>
    <div class="carga"></div>
  }
  @if (icono() === 1) {
    <h2 class="mb-0 text-madera-clara h1 mt-4 text-center text-success mx-2">Operación Completada</h2>
    <div class="rounded-circle bg-success" id="box-bien">
      <i class="bi bi-check-all mx-auto d-block text-white" id="bien"></i>
    </div>
  }
  @if (icono() === 2) {
    <div class="d-flex align-items-center w-100 position-relative justify-content-center px-3">
      <h2 class="mb-0 text-madera-clara h1 mt-4 text-center text-danger ">Error</h2>
      <button class="rounded-2 bg-danger btn position-absolute" id="cerrar" (click)="cerrar()">
      <i class="bi bi-x-lg"></i>
    </button>
    </div>
    <div class="rounded-circle bg-danger" id="box-x">
      <i class="bi bi-x-lg mx-auto d-block text-white" id="x"></i>
    </div>
    @if(!contenido()){
      <p>Error de Conexión</p>
      <p class="text-center">Comuníquese con atención al cliente o vuelva mas tarde</p>
    }
  }
  <div id="contenido" class="mx-2 pt-3">
    @for (c of contenido(); track c) {
      <p>- {{c}}</p>
    }
  </div>
</div>
