#fondo{
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: fit-content;
  width: fit-content;
}


//<<<<<<<0. popup>>>>>>
#pop{
  width: 25dvw;
  border-radius: 10px;
  display: grid;
  height: fit-content;
  z-index: 999;
  top: 25%;
  left: 36%;
  justify-items: center;
  box-shadow: 0 3px 30px black;
}



@keyframes loading {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(180deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(180deg) rotateY(-180deg);
  }
}

.carga{
  margin: 20px auto;
  border: 1px solid goldenrod;
  background-color: var(--bs-dark);
  width: 70px;
  height: 70px;
  animation: loading 2s infinite ease-in-out;
}

//<<<<<<<<< OK icono 1>>>>>>>>

#bien{
  width: fit-content;
  height: fit-content;
  font-size: 400%;
}
#box-bien{
  margin: 20px 0 0 0 ;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

//<<<<<<<<< NOT OK icono 2>>>>>>>>
#cerrar{
  width: fit-content;
  height: fit-content;
  box-shadow: 1px 1px 1px black;
  right: 3%;
}
#cerrar:hover{
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
}

#x{
  width: fit-content;
  height: fit-content;
  font-size: 300%;
}
#box-x{
  margin: 20px 0 0 0 ;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

