<!-- //<<<<<<<<<<0. Contenedor padre >>>>>>>>-->
<div class=" bg-main" id="padre">
  <!-- //<<<<<<<<<<1. Componente head >>>>>>>>-->
  <app-head-main></app-head-main>
  <!-- //<<<<<<<<<<2. Texto y images derechas >>>>>>>>-->
  <div class="d-grid " id="body">

    <app-chest-main></app-chest-main>
    <!--    //<<<<<<<<<<3. Form  >>>>>>>>-->
    <div class="bg-carbon rounded-5" id="formulario">
      <router-outlet></router-outlet>
    </div>

  </div>

  <footer class="w-100 ">
    <app-footer></app-footer>
  </footer>

</div>
