<!-- //<<<<<<<<<<0. Contenedor padre >>>>>>>>-->
<div class=" bg-main" id="padre">
  <!-- //<<<<<<<<<<1. Componente head >>>>>>>>-->
  <app-head-main></app-head-main>
  <!-- //<<<<<<<<<<2. Texto y images derechas >>>>>>>>-->
  <div class="d-grid " id="body">
    <div class="" id="derecha">
      <!--    //<<<<<<<<<<2.1. Texto>>>>>>>>-->
      <div id="texto" class="text-blanco-roto">
        <h1>Compra Ahora en</h1>
        <h1 class="ms-5">Cats's</h1>

        <div class="d-flex gap-3">
          <h2 class="text-success">- Comida</h2>
          <h2 class="text-blanco-roto">- Ropa</h2>
          <h2 class="text-info">- Muebles</h2>
        </div>

      </div>
      <!--    //<<<<<<<<<<2.2. Imagenes >>>>>>>>-->

      <div id="imgs" class="bg-dorado-suave w-100 p-2">
        <div class="position-relative" id="img-flotantes">

          <div class="box-img" id="comida">
            <img src="food.jfif" alt="">
          </div>

          <div class="box-img" id="ropa">
            <img src="descarga.jpg" alt="">
          </div>

          <div class="box-img" id="postre">
            <img src="postre.jfif" alt="">
          </div>

          <div class="box-img" id="mueble">
            <img src="mueble.jpg" alt="">
          </div>

        </div>
      </div>

    </div>
    <!--    //<<<<<<<<<<3. Form  >>>>>>>>-->
    <div class="bg-gris-oscuro rounded-2 w-75" id="formulario">

      <app-registro></app-registro>

    </div>


  </div>
</div>
