<form action="" [formGroup]="formLogin" (ngSubmit)="ValidarLogin()">

  <div class="text-center text-blanco-roto pt-3">
    <h2 class="m-0">Iniciar Sesión</h2>
    <p>Acceda al círculo privado de Cats's</p>
  </div>

  <hr class="my-1">
  <!--  //<<<<<<<0. Inputs >>>>>>-->
  <div class="px-3">

    <div class="inputs">

      <label class="mb-2">
        Email{{ '@' }}:
        @if (formLogin.get("email")?.touched) {
        @if(formLogin.get("email")?.errors?.['required']){
          <i class="">Campo requerido</i>
        } @else if (formLogin.get("email")?.errors?.["ArrobaError"]){
          <i class="">No se considera Email sin un {{'@'}}</i>
        }@else if (formLogin.get("email")?.errors?.["FormatoError"]){
          <i class="">Formato o extensión Incorrecta: opciones .com o .es)</i>
        }
      }
        <input type="email"
               placeholder="Correo Electrónico @gmail.com"
               class="dark-input"
               formControlName="email"
              [ngClass]="[
              formLogin.get('email')?.touched && formLogin.get('email')?.errors?'invalido':'',
               formLogin.get('email')?.touched && !formLogin.get('email')?.errors?'valido':''
              ]">
      </label>

      <label>Contraseña:
        @if (formLogin.get("password")?.touched) {
          @if(formLogin.get("password")?.errors?.['required']){
            <i class="">Campo requerido</i>
          } @else if (formLogin.get("password")?.errors?.["cantidadError"]){
            <i class="">La contraseña debe tener al menos 8 caracteres</i>
          }
        }
        <input type="password" class="mb-3 dark-input"
               placeholder="Contraseña"
               formControlName="password"
               [ngClass]="[
              formLogin.get('password')?.touched && formLogin.get('password')?.errors?'invalido':'',
               formLogin.get('password')?.touched && !formLogin.get('password')?.errors?'valido':''
              ]">
      </label>

    </div>

  </div>
  <!--  //<<<<<<<1. iniciar sesión con x >>>>>>-->
  <div class="d-flex mx-auto text-madera-clara gap-3 align-items-center" id="inicia">
    <h5 class="m-0"><u>Iniciar sesión Con</u></h5>
    <div class="d-flex gap-2">
      <i class="bi bi-facebook fs-4 text" id="face"></i>
      <i class="bi bi-google fs-4" id="you"></i>
      <i class="bi bi-twitter-x fs-4" id="x"></i>
    </div>
  </div>
  <hr>
  <div class="w-75 d-flex mx-auto justify-content-between pb-1 align-items-center">
    <button type="button" class="text-blanco-roto button-trans-unborder border-white" [routerLink]="['/register']">
      Registrarse
    </button>
    <button type="submit" class="text-dark bg-dorado-suave button-trans-unborder py-2"
    [ngClass]="[formLogin.valid?'':'elemento-desactivado']">Iniciar Sesión</button>
  </div>

</form>

