*{
  transition: 0.3s;
}

//<<<<<<<<<<<< 0. fondo oscuro >>>>>>>>>>>

#fondo-oscuro{
  z-index: 1;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
}

//<<<<<<<<<<<< 1. caja de el login >>>>>>>>>>>

#box-login{
  position: relative;
  z-index: 2;
  background: white;
  width: 30%;
  height: 500px;
  margin: 100px auto;
}
//<<<<<<<<<<<< 2. texto y botón de close>>>>>>>>>>>

#close{
  position: absolute;
  top: 0;
  right: 1%;
}
