<form action="" [formGroup]="formLogin"  class="py-5">

  <div class="text-center text-blanco-roto">
    <h2 class="m-0">Iniciar Sesión</h2>
    <p>Acceda al círculo privado de Cats's</p>
  </div>

  <hr class="my-1">
  <!--  //<<<<<<<0. Inputs >>>>>>-->
  <div class="px-5">

    <div class="inputs">

      <label class="mb-2">
        Email{{ '@' }}:
        @if (formLogin.get("email")?.touched) {
          @if (formLogin.get("email")?.errors?.['required']) {
            <i class="">Campo requerido</i>
          } @else if (formLogin.get("email")?.errors?.["ArrobaError"]) {
            <i class="">No se considera Email sin un {{ '@' }}</i>
          } @else if (formLogin.get("email")?.errors?.["FormatoError"]) {
            <i class="">Falta el gmail y (.com o .es)</i>
          }
        }
        <input type="email"
               placeholder="Correo Electrónico @gmail.com"
               class="dark-input"
               formControlName="email"
               [ngClass]="[
              formLogin.get('email')?.touched && formLogin.get('email')?.errors?'invalido':'',
               formLogin.get('email')?.touched && !formLogin.get('email')?.errors?'valido':''
              ]">
      </label>

      <label>Contraseña:
        @if (formLogin.get("password")?.touched) {
          @if (formLogin.get("password")?.errors?.['required']) {
            <i class="">Campo requerido</i>
          } @else if (formLogin.get("password")?.errors?.["cantidadError"]) {
            <i class="">La contraseña debe tener al menos {{ passlen }} caracteres</i>
          }
        }
        <input type="password" class="mb-3 dark-input"
               placeholder="Contraseña"
               formControlName="password"
               [ngClass]="[
              formLogin.get('password')?.touched && formLogin.get('password')?.errors?'invalido':'',
               formLogin.get('password')?.touched && !formLogin.get('password')?.errors?'valido':''
              ]">
      </label>

    </div>

  </div>
  <!--  //<<<<<<<1. iniciar sesión con x >>>>>>-->
  <app-inicia-con></app-inicia-con>
  <hr>
  <div class="w-75 d-flex mx-auto justify-content-between pb-1 align-items-center">
    <button type="button" class="text-blanco-roto button-trans-unborder border-white py-3" [routerLink]="['/register']">
      <b>Registrarse</b>
    </button>
    <button type="submit" class="text-dark bg-dorado-suave button-trans-unborder py-3"
            [ngClass]="[formLogin.valid?'':'elemento-desactivado']" (click)="ValidarLogin()"><b>Iniciar Sesión</b>
    </button>
  </div>
  <app-cargando-model  [visible]="visibleCargando()" [icono]="tipeResp()" [contenido]="errors()"
                       (cerrarIcono)="changeCargando(Boolean($event))" (cerrarVisible)="changeIcono(Number($event))"
                       (vaciarErrores)="changeError($event)"
  ></app-cargando-model>
</form>




