#azul{
  background-color: #C8A85A;
  width: 100dvw;
  height: 100dvh;
  color: black;
  padding-top: 5%;
}
#mal{
  font-size: 200px;
}
#texto{
  font-size: 30px;
  font-family: "Microsoft YaHei UI Light",arial,sans-serif;
}
