@use './styles/variables';
@use './styles/typography' as typo;
@use './styles/bootstrap-custom';
@use './styles/theme' as th;
@use './styles/icons/bootstrap-icons';

@include th.apply-theme();

html, body {
  scrollbar-width: thin;
  height: 100%;
  margin: 0;
  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

* {
  box-sizing: border-box;
}

.card, .btn, .table, .form-control, .navbar {
  transition: all 0.3s ease;
}
.elemento-desactivado {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}


.color1 {
  background-color: #34675c;
}

.color2 {
  background-color: #B7B6B8;
}

.color3 {
  background-color: #4CB5F5;
}

.color4 {
  background-color: #B3C100;
}
.color5{
  background-color: #626D71;
}
.color6{
  background-color: #CDCDC0;
}
.color7{
  background-color: #DDBC95;
}
.color8{
  background-color: #B38867;
}
.color9{
  background-color: #F7EFE2;
}

