*{
  //border:1px solid red;
  transition: 0.2s;
}
///<<<<<<< 1.Logo div >>>>>>>>

#logo{
  padding: 10px;
}

///<<<<<< 2.botones de del head >>>>>>>>


#head-btn{
  width: 88%;
  display: grid;
  gap:10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0 auto;

}

