<!--///<<<<<<< 0. head !contiene todo >>>>>>>>-->
<header class="border vw-100 bg-white" id="cabeza">

<!--  ///<<<<<<< 1. primera separación de head >>>>>>>>-->
  <div id="infoYbusqueda" class="">

    <!--  ///<<<<<<< 2.Logo div >>>>>>>>-->
    <div class="d-flex" id="logo">
      <img src="/favicon.ico" alt="Logo">
      <!--    <h1>Nombre</h1>-->
    </div>

    <!--  3. Barra de búsqueda-->
    <form class="input-group rounded-start-0 w-100">

      <div class="input-group-prepend">
        <button class="btn btn-outline-info rounded-end-0" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <input type="text" class="form-control h-50" placeholder="Búscar : Producto / Servicio"
             aria-label="" aria-describedby="basic-addon2">
    </form>

    <!--  ///<<<<<<<<< 4 ajustes>>>>>>>>> -->
    <button class="border rounded-1 bg- text-dark" id="ajustes">
      <i class="bi bi-gear text-center"></i>
    </button>

    <!--  ///<<<<<< 5.botones del head >>>>>>>>-->
    <div class="" id="head-btn">
      <!--    ///<<<<<< 6. botones >>>>>>>>-->
      <div class="dropdown opcion-head">
        <button class="btn btn-outline-white dropdown-toggle" type="button"
                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-translate"></i>
          Idiomas
        </button>
        <ul class="dropdown-menu">
          <button class="btn w-100 text-start">algo</button>
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="dropdown opcion-head">
        <button class="btn btn-outline-white dropdown-toggle" type="button"
                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-translate"></i>
          Idiomas
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="dropdown opcion-head">
        <button class="btn btn-outline-white dropdown-toggle" type="button"
                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-translate"></i>
          Idiomas
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <!--    ///<<<<<< 7. iniciar Sesión >>>>>>>>-->
    <button type="button" class="btn d-flex mx-auto align-items-center"
            id="boton-iniciar" (click)="IniciarSesion()">
      <i class="bi bi-person"></i>
      <p class="m-0">Inicias Sesión</p>
    </button>

  </div>

  <hr class="m-0">
<!--  //<<<<<<<<<<<<< 8. categorías >>>>>>>>>>>>-->
  <div class="" id="categorias">
    <div class="d-flex overflow-auto">
      <button class="btn btn-outline-primary">algo</button>
    </div>
  </div>

</header>
@if (cambiaLogin()) {
  <app-auth (salirDeLogin)="IniciarSesion()"
            (salirLogin)="IniciarSesion()">
  </app-auth>
}
