<!--//<<<<<<<<<<<<0. Contenedor padre >>>>>>>>>>>-->
<div class=" pt-4 px-4 d-flex" id="cabeza">
<!--  //<<<<<<<<<<<<1. contenedor del head parte izquierda >>>>>>>>>>>-->
  <div class="d-flex align-items-center" id="head-left">
    <img src="logo.jpg" alt="Logo" height="70px" class="rounded-2">
    <div class="ms-5">
      <button class="text-blanco-roto button-trans-border">Documentación</button>
      <button class="text-blanco-roto button-trans-border">algo</button>
    </div>
  </div>
<!--  //<<<<<<<<<<<<2. contenedor del head parte derecha >>>>>>>>>>>-->
  <div class="d-flex align-items-center" id="head-right">
    <button class="border border-white border-2 button-trans-unborder rounded-2 text-blanco-roto">Comprar</button>
    <button class="button-trans-unborder" id="ajustes"><i class="bi bi-three-dots text-blanco-roto"></i></button>
  </div>

</div>
