* {
  //border:1px solid red;
}
///<<<<<<< 1.Logo div >>>>>>>>

#cabeza{
  display: grid;
  grid-template-columns:12% 40% 5% 43%;
  height: 80px;
}


///<<<<<<< 1.Logo div >>>>>>>>

#logo {
  padding: 10px;
}

///<<<<<< 2.botones de del head >>>>>>>>

///<<<<<< 2.1 botones >>>>>>>>
#head-btn {
  width: 99%;
  display: flex;
  gap: 10px;
  background-color: var(--background);
  border-radius: 5px;
  padding: 5px;
  justify-content: space-between;
}

.opcion-head>button{
  transition: 0.4s;
}

///<<<<<< 2.2 barra de búsqueda >>>>>>>>

///<<<<<< 2.3 iniciar Sesión >>>>>>>>

#boton-iniciar{
  width: fit-content;
}


///Puntos de ruptura

@media (max-width: 1845px){
  #boton-iniciar{
    color: white;
  }
}

///<<<<<<<<< 2.4 filtros>>>>>>>>>

#ajustes{
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ajustes > i {
  margin: 0;
  font-size: 30px;
}





