<div class="mt-4">
  <p class="h2 px-4 rounded-3 bg-beige-muy-claro text-dark py-2" id="titulo">Explora Categorías </p>

  <div class="d-grid mt-5 mb-5 gap-4 overflow-y-auto rounded-3 py-2 pe-5 ps-3" id="categorias">

    <div clasS="contenedor-imagen cat">
      <img src="mueble.jpg" alt="">
      <div class="position-absolute texto-flotante">
        <p class="h3 text-white">Muebles</p>
        <p class="texto-dorado">algo y mas</p>
      </div>
    </div>

    <div clasS="contenedor-imagen cat ">
      <img src="mueble.jpg" alt="">
      <div class="position-absolute texto-flotante">
        <p class="h3 text-white">Muebles</p>
        <p class="texto-dorado">algo y mas</p>
      </div>
    </div>

    <div clasS="contenedor-imagen cat">
      <img src="mueble.jpg" alt="">
      <div class="position-absolute texto-flotante">
        <p class="h3 text-white">Muebles</p>
        <p class="texto-dorado">algo y mas</p>
      </div>
    </div>

  </div>
</div>
