#titulo{
  width: fit-content;

}
#categorias{
  height: 370px;
  scrollbar-color: var(--bs-dorado) #485864;
}

.cat{
  height: 100px;
  background-color: #485864;
}
.texto-flotante{
  z-index: 99;
  left: 10%;
  bottom: 0;
}
.cat:hover{
  transition: 0.5s;
  margin: 0 -20px 0 20px;
}
