*{
  transition-duration: 0.3s;
}

//<<<<<<<1. iniciar sesión con x >>>>>>
#face:hover{
  transition: 0.5s;
  color:dodgerblue;
  text-shadow: 1px 1px 1px white;
}
#you:hover{
  transition: 0.5s;
  color: red;
  text-shadow: 1px 1px 1px white;
}
#x:hover{
  transition: 0.5s;
  color: black;
  text-shadow: 1px 1px 1px white;
}
#inicia{
  width: fit-content;
}
