<!--//<<<<<<<<<0. Fondo dorado>>>>>>>-->
<div class="position-absolute" id="fondo-user"></div>

<!--//<<<<<<<<<1. contenido>>>>>>>-->
<div class="" id="contenedor">

  <app-barra-opciones class="position-fixed h-100  d-flex" id="uni"></app-barra-opciones>

  <div class=" py-3 overflow-y-scroll p-5" id="contenido">
    <router-outlet></router-outlet>
  </div>

  <button class="position-fixed btn btn-success fs-4 " id="carrito" (click)="toggleCompras(true)">
    <i class="bi bi-cart-fill"></i> Ver Carrito
  </button>

</div>
@if(compras()){
<app-carrito (salir)="toggleCompras($event)"></app-carrito>
}
