p {
  color: #F2F1F0;
}
//<<<<<<<<<0. Fondo dorado>>>>>>>
#fondo-user {
  width: 100dvw;
  height: 100dvh;
  background: #FDFDF8;
  z-index: 1;
}

//<<<<<<<<<1. contenido>>>>>>>

#contenedor {
  scrollbar-color: var(--bs-dorado) #485864;
  scrollbar-width: thin;
  display: grid;
  position: absolute;
  z-index: 2;
  width: 100dvw;
  height: 100dvh;
}
#mi-btn{
  border: none;
  outline: none;
  width: fit-content;
}

.enTres{
  grid-template-columns: 15% auto 1fr;
}
.enDos{
  grid-template-columns: 1fr;
}

.enMedio{
  position: absolute;
  top:35%;
  height: 30%;
}

