p {
  color: #F2F1F0;
}
//<<<<<<<<<0. Fondo dorado>>>>>>>
#fondo-user {
  width: 100dvw;
  height: 100dvh;
  background: #F8F8F1;
  z-index: 1;
}

//<<<<<<<<<1. contenido>>>>>>>
#uni{
  width: fit-content;
  z-index: 999;
}
#contenedor {
  scrollbar-color: var(--bs-dorado) #485864;
  scrollbar-width: thin;
  display: grid;
  position: absolute;
  z-index: 2;
  width: 100dvw;
  height: 100dvh;
}

//<<<<<<<<<6. carrito>>>>>>>>>
#carrito{
  top: 92%;
  right: 40px;
}
