#productos{
  grid-template-columns: repeat(5,1fr);
  gap:30px;
}
.producto{
  width: 100%;
  height: 280px;
  padding: 20px 0;
}
.producto *{
  margin: 0;
}
.producto > img{
  width: 100%;
  height: 70%;

}
