
label{
  width: 100%;
  color: #C8A85A;
}
*{
  transition: 0.5s;
}

//<<<<<<<0. Inputs >>>>>>
#nombres{
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 4%;
}
.inputs{
  margin-bottom:15px ;
}
//<<<<<<<1. iniciar sesión con x >>>>>>
#face:hover{
  transition: 0.5s;
  color:dodgerblue;
}
#you:hover{
  transition: 0.5s;
  color: red;
}
#x:hover{
  transition: 0.5s;
  color: black;
}



