
option{
  color: black;
}


label{
  width: 100%;
  color: #C8A85A;
}
*{
  transition: 0.5s;
}
i{
  color: var(--bs-danger);
}

//<<<<<<<0. Inputs >>>>>>
#nombres{
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 4%;
}
.inputs{
  margin-bottom:15px ;
}

.valido{
  border: 1px solid var(--bs-success) ;
}
.invalido{
  border:1px solid  var(--bs-danger) ;
}



