<form action="">

  <div class="text-center text-blanco-roto pt-3">
    <h2 class="m-0">Registro</h2>
  </div>

  <hr class="my-1">
  <!--  //<<<<<<<0. Inputs >>>>>>-->
  <div class="px-3">

    <div class="inputs" id="nombres">

      <div >
        <label>Nombre:
        <input type="text" placeholder="Nombre">
        </label>
      </div>

      <div >
        <label>Apellidos:
        <input type="text" placeholder="Apellidos">
        </label>
      </div>

    </div>

    <div class="inputs">

      <label class="mb-2">
        Email{{'@'}}:
        <input type="email" placeholder="Correo Electrónico @gmail.com">
      </label>

      <label>Contraseña:
      <input type="password" class="mb-3" placeholder="Contraseña">
      <input type="password" placeholder="Repetir Contraseña">
      </label>

    </div>

    <div class="d-flex gap-3 mb-3">
      <div>
        <label>Teléfono:
        <input type="text" placeholder="Nombre">
        </label>
      </div>

      <div >
        <label >Ciudad:
        <input type="text" id="ciudades" placeholder="Apellidos">
        </label>
      </div>

      <div >
        <label >País:
          <input type="text"  id="ciudades" placeholder="Pais">
        </label>
      </div>

    </div>

    <label>
      Fecha de nacimiento:
      <input type="date">
    </label>

  </div>
  <hr> 
  <!--  //<<<<<<<1. iniciar sesión con x >>>>>>-->
    <div class="d-flex mx-auto text-madera-clara gap-3 align-items-center" id="inicia">
      <h5 class="m-0"><u>Iniciar sesión Con</u></h5>
      <div class="d-flex gap-2">
        <i class="bi bi-facebook fs-4 text" id="face"></i>
        <i class="bi bi-google fs-4" id="you"></i>
        <i class="bi bi-twitter-x fs-4" id="x"></i>
      </div>
    </div>
  <hr>
  <div class="w-75 d-flex mx-auto justify-content-between pb-2">
    <button class="text-blanco-roto button-trans-unborder border-white">Registrarse</button>
    <button class="text-blanco-roto button-trans-unborder border-white">Iniciar Sesión</button>
  </div>

</form>
