<form action="">

  <div class="text-center text-blanco-roto pt-3">
    <h2 class="m-0">Registro</h2>
    <p>Acceda al círculo privado de Cats's</p>
  </div>

  <hr class="my-1">
  <!--  //<<<<<<<0. Inputs >>>>>>-->
  <div class="px-3">

    <div class="inputs" id="nombres">

      <div >
        <label>Nombre:
        <input type="text" placeholder="Nombre" class="dark-input">
        </label>
      </div>

      <div >
        <label>Apellidos:
        <input type="text" placeholder="Apellidos" class="dark-input">
        </label>
      </div>

    </div>

    <div class="inputs">

      <label class="mb-2">
        Email{{'@'}}:
        <input type="email" placeholder="Correo Electrónico @gmail.com" class="dark-input">
      </label>

      <label>Contraseña:
      <input type="password" class="mb-3 dark-input" placeholder="Contraseña" >
      <input type="password" placeholder="Repetir Contraseña" class="dark-input">
      </label>

    </div>

<!--    <div class="d-flex gap-3 mb-3">-->
<!--      <div>-->
<!--        <label>Teléfono:-->
<!--        <input type="text" placeholder="Nombre" class="dark-input">-->
<!--        </label>-->
<!--      </div>-->

<!--      <div >-->
<!--        <label >Ciudad:-->
<!--        <input type="text" id="ciudades" placeholder="Apellidos" class="dark-input">-->
<!--        </label>-->
<!--      </div>-->

<!--      <div >-->
<!--        <label >País:-->
<!--          <input type="text"  id="ciudades" placeholder="Pais" class="dark-input">-->
<!--        </label>-->
<!--      </div>-->

<!--    </div>-->

<!--    <label>-->
<!--      Fecha de nacimiento:-->
<!--      <input type="date" class="dark-input">-->
<!--    </label>-->

  </div>

  <!--  //<<<<<<<1. iniciar sesión con x >>>>>>-->
    <app-inicia-con></app-inicia-con>
  <div class="w-75 d-flex mx-auto justify-content-between pb-1 align-items-center">
    <button type="button" class="text-dark button-trans-unborder bg-dorado-suave py-2">Registrarse</button>
    <button type="button" class="text-blanco-roto button-trans-unborder border-white" [routerLink]="['/']">Iniciar Sesión</button>
  </div>

</form>
