#carrito{
  z-index: 999;
  height: 96%;
  right: 20px;
  top: 20px;
  padding: 10px;
  border-radius: 5px;
  min-width: 340px;
  width: 31%;
  display: grid;
  grid-template-rows: auto auto 1fr 5% 5%;
}
#contenido{
  display: flex;
  flex-direction: column;
  gap:20px;
}

#close{
  right: 0;
  top: 0;
}
.comprado{
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  display: flex;
  gap:10px;
  text-align: center;
  padding: 0 5px 0 0;
}
.precios{
  width: 125px;
}
.box-img{
  width: 20%;
  height: 100%;
}
.box-img > img{
  object-fit: cover;
}
@media (max-width: 1401px){
  .comprado{
    display: grid;
    height: fit-content;
    justify-content: center;
    padding: 0;
  }
  .box-img{
    width: 100%;
    height: 140px;
    margin: 20px 0 0 0 ;
  }
}
