<!--//<<<<<<< 0. Contenedor padre >>>>>>>>-->
<div class="" id="padre">
  <h1 class="text-white text-center mb-2 text-decoration-underline">Panel Principal</h1>

  <!--  // <<<<<<< 1.Opciones >>>>>>>>-->
  <div class="border ps-5 pe-3 py-3 " id="panel">
    <p class="h1 text-white m-0">+</p>
    <button class="btn btn-outline-success text-white" type="button" (click)="toggleAddForm()">
      <i class="bi bi-database-fill-add me-2"></i>
      Agregar Producto
    </button>

    <div class="border px-2 py-3 input-group" id="busqueda">
      <select name="buscar" id="buscarPor" class="border-0 outline-0 ">
        <option value="nombre">Nombre</option>
      </select>
      <input type="text" class="form-control" aria-label="Text input with dropdown button" id="buscar"
             placeholder="Búscar">
    </div>
  </div>

  <!--  //<<<<<<< 2. tabla principal >>>>>>>>-->
  <div class="border rounded-0" id="box-tabla">
    <h1 class="text-white text-center mb-2 text-decoration-underline w-100">Tabla de Productos</h1>
    <table class="table table-bordered border-dark" id="tabla-principal">
      <!--   //<<<<<<<<< nombre de las columnas >>>>>>>   -->
      <thead class="table-dark ">
      <tr>
        <th scope="col">img</th>
        <th scope="col">nombre</th>
        <th scope="col">categoría</th>
        <th scope="col">precio</th>
        <th>Opciones</th>
      </tr>
      </thead>

      <!--   //<<<<<<<<< 2.1 Contenido de la tabla >>>>>>>   -->

      <tbody id="tabla-body">
        @for (producto of Productos; track producto.nombre) {
          <tr class="producto-tabla">
            <td>nada</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.precio }}€</td>
            <td class="d-flex producto-opciones">

              <button class="btn btn-danger text-white" type="button" (click)="Worry()">
                <i class="bi bi-x-square-fill me-2"></i>
                Eliminar Producto
              </button>

              <button class="btn btn-info text-white" type="button" (click)="toggleModifiedForm()">
                <i class="bi bi-receipt me-2"></i>
                Editar Producto
              </button>

            </td>
          </tr>
        }
      </tbody>

    </table>
  </div>

</div>
<!-- Formularios para la edicion o creacion de productos-->
@if (formAddActivo()) {
  <!--//<<<<<<<<<<<< 3. fondo oscuro >>>>>>>>>>>-->
  <div class="vw-100 vh-100 position-fixed fondo-oscuro" (click)="toggleAddForm()">
  </div>
  <!--//<<<<<<<<<<<< 4. caja de el login >>>>>>>>>>>-->
  <div class="border rounded-2 bg-dark box-login">
    <!--//<<<<<<<<<<<< 5. texto y botón de close>>>>>>>>>>>-->
    <div class="m-2 position-relative">
      <h2 class="text-center mt-3 text-white">Creando Producto</h2>
      <button class="btn btn-danger" id="close" (click)="toggleAddForm()">
        <i class="bi bi-x-lg text-white"></i>
      </button>
    </div>
    <form action="" class="contenido">

    </form>
  </div>
}

@if (formModified()) {
  <!--//<<<<<<<<<<<< 3. fondo oscuro >>>>>>>>>>>-->
  <div class="vw-100 vh-100 position-fixed fondo-oscuro" (click)="toggleModifiedForm()">
  </div>
  <!--//<<<<<<<<<<<< 4. caja de el login >>>>>>>>>>>-->
  <div class="border border-info rounded-2 bg-dark box-login">
    <!--//<<<<<<<<<<<< 5. texto y botón de close>>>>>>>>>>>-->
    <div class="m-2 position-relative">
      <h2 class="text-center mt-3 text-info">Modificando Producto</h2>
      <button class="btn btn-danger" id="close" (click)="toggleModifiedForm()">
        <i class="bi bi-x-lg text-white"></i>
      </button>
    </div>
    <form action="" class="contenido">
    </form>
  </div>
}

@if (Sure()) {
  <!--//<<<<<<<<<<<< 3. fondo oscuro >>>>>>>>>>>-->
  <div class="vw-100 vh-100 position-fixed fondo-oscuro" (click)="Worry()">
  </div>
  <!--//<<<<<<<<<<<< 4. caja de el login >>>>>>>>>>>-->
  <div class="border border-danger rounded-2 bg-dark box-login">
    <!--//<<<<<<<<<<<< 5. texto y botón de close>>>>>>>>>>>-->
    <div class="m-2 position-relative">
      <h2 class="text-center mt-3 text-danger">Eliminando Producto</h2>
      <button class="btn btn-danger" id="close" (click)="Worry()">
        <i class="bi bi-x-lg text-white"></i>
      </button>
    </div>
  </div>
}




