<!--//<<<<<<< 0. Contenedor padre >>>>>>>>-->
<div class="" id="padre">
  <h1 class="text-white text-center mb-2 text-decoration-underline">Panel Principal</h1>

  <!--  // <<<<<<< 1.Opciones >>>>>>>>-->
  <div class="border ps-5 pe-3 py-3 rounded-2" id="panel">
    <p class="h1 text-white m-0">+</p>
    <button class="btn btn-outline-success text-white" type="button" (click)="toggleAddForm()">
      <i class="bi bi-database-fill-add me-2"></i>
      Agregar Producto
    </button>

    <div class="border px-2 py-3 input-group" id="busqueda">
      <select name="buscar" id="buscarPor" class="border-0 outline-0 rounded-start-1" [(ngModel)]="select">
        <option value="">Todo</option>
        <option value="nombre">Nombre</option>
        <option value="categoria">Categoria</option>
      </select>
      <input type="text" class="form-control" aria-label="Text input with dropdown button"
             id="buscar"
             [(ngModel)]="input"
             placeholder="Búscar">
    </div>
  </div>

  <!--  //<<<<<<< 2. tabla principal >>>>>>>>-->
  <div class="border rounded-1" id="box-tabla">
    <h1 class="text-white text-center my-3 text-decoration-underline w-100">Tabla de Productos</h1>
    <div class="table table-bordered border-dark  position-relative" id="tabla-principal">
      <!--   //<<<<<<<<< nombre de las columnas >>>>>>>   -->
      <div class=" w-100 position-absolute d-grid text-center" id="tabla-titulos">
        <b class="m-0 border-end border-dark">IMG</b>
        <b class="m-0 border-end border-dark">Nombre</b>
        <b class="m-0 border-end border-dark">Categoria</b>
        <b class="m-0 border-end border-dark">Precio €</b>
        <b class="m-0 ">Opciones</b>
      </div>


      <!--   //<<<<<<<<< 2.1 Contenido de la tabla >>>>>>>   -->
      <div class="pt-5 overflow-auto" id="tabla-body">
        @for (p of Productos; track p.nombre) {
          <div class="text-white d-grid producto border-bottom border-dark text-center"
                      [ngClass]="[ Buscar(p)?'d-block':'d-none']">
            <p class="m-0 border-end border-dark">IMG</p>
            <p class="m-0 border-end border-dark">{{ p.nombre }}</p>
            <p class="m-0 border-end border-dark">{{ p.categoria }}</p>
            <p class="m-0 border-end border-dark">{{ p.precio }} €</p>
            <div class="producto-opciones d-grid">

              <button class="btn btn-danger text-white w-100" type="button" (click)="Worry()">
                <i class="bi bi-x-square-fill me-2"></i>
                Eliminar Producto
              </button>

              <button class="btn btn-info text-white w-100" type="button" (click)="toggleModifiedForm()">
                <i class="bi bi-pencil-fill me-2"></i>
                Editar Producto
              </button>

            </div>
          </div>
        }
      </div>


    </div>

  </div>
</div>
  <!-- Formularios para la edicion o creacion de productos-->
  @if (formAddActivo()) {
    <!--//<<<<<<<<<<<< 3. fondo oscuro >>>>>>>>>>>-->
    <div class="vw-100 vh-100 position-fixed fondo-oscuro">

      <!--//<<<<<<<<<<<< 4. caja de el login >>>>>>>>>>>-->
      <div class="border rounded-2 bg-dark box-login">
        <!--//<<<<<<<<<<<< 5. texto y botón de close>>>>>>>>>>>-->
        <div class="m-2 position-relative">
          <h2 class="text-center mt-3 text-white">Creando Producto</h2>
          <button class="btn btn-danger" id="close" (click)="toggleAddForm()">
            <i class="bi bi-x-lg text-white"></i>
          </button>
        </div>
        <form action="" class="contenido">

        </form>
      </div>
    </div>
  }

  @if (formModified()) {
    <!--//<<<<<<<<<<<< 3. fondo oscuro >>>>>>>>>>>-->
    <div class="vw-100 vh-100 position-fixed fondo-oscuro">

      <!--//<<<<<<<<<<<< 4. caja de el login >>>>>>>>>>>-->
      <div class="border border-info rounded-2 bg-dark box-login">
        <!--//<<<<<<<<<<<< 5. texto y botón de close>>>>>>>>>>>-->
        <div class="m-2 position-relative">
          <h2 class="text-center mt-3 text-info">Modificando Producto</h2>
          <button class="btn btn-danger" id="close" (click)="toggleModifiedForm()">
            <i class="bi bi-x-lg text-white"></i>
          </button>
        </div>
        <form action="" class="contenido">
        </form>
      </div>
    </div>
  }

  @if (Sure()) {
    <!--//<<<<<<<<<<<< 3. fondo oscuro >>>>>>>>>>>-->
    <div class="vw-100 vh-100 position-fixed fondo-oscuro">

      <!--//<<<<<<<<<<<< 4. caja de el login >>>>>>>>>>>-->

      <div class="border border-danger rounded-2 bg-dark box-login ">
        <!--//<<<<<<<<<<<< 5. texto y botón de close>>>>>>>>>>>-->
        <div class="m-2 position-relative">
          <h2 class="text-center mt-3 text-danger">Eliminando Producto</h2>
          <button class="btn btn-danger" id="close" (click)="Worry()">
            <i class="bi bi-x-lg text-white"></i>
          </button>
        </div>
      </div>

    </div>
  }
