<!--//<<<<<< 0. contenedor padre>>>>>>>-->
<div class="h-100" id="barra">

  <div>

    <div class="mb-5" id="parte1">
      <!--  //<<<<<< 1. logo  >>>>>>>-->
      <div>
        <p class="h2">Lgoo</p>
      </div>

      <!--  //<<<<<< 2. opciones user  >>>>>>>-->
      <div>

      </div>
    </div>

    <div class="d-grid gap-3" id="parte2">

      <button type="button" class="w-100 d-flex justify-content-start rounded-3 btn " [routerLink]="['/sesion/inicio']"
      [ngClass]="[estado==='inicio'?'focus':'button-parte2']" (click)="cambiarEstado('inicio')">
        <i class="bi bi-houses-fill"></i>
        Inicio
      </button>

      <button class="w-100 d-flex justify-content-start rounded-3 btn "
              [ngClass]="[estado==='explorar'?'focus':'button-parte2']" (click)="cambiarEstado('explorar')">
        <i class="bi bi-bag-fill"></i>
        Explorar
      </button>

      <button class="w-100 d-flex justify-content-start rounded-3 btn "
              [ngClass]="[estado==='favoritos'?'focus':'button-parte2']" (click)="cambiarEstado('favoritos')">
        <i class="bi bi-heart-fill"></i>
        Favoritos
      </button>

      <button class="w-100 d-flex justify-content-start rounded-3 btn " [routerLink]="['/sesion/user']"
              [ngClass]="[estado==='perfil'?'focus':'button-parte2']" (click)="cambiarEstado('perfil')">
        <i class="bi bi-person-fill"></i>
        perfil
      </button>

    </div>

  </div>


  <button type="button" class="parte2 bg-dorado-suave d-flex justify-content-center py-2 rounded-3 btn text-dark" id="salir"
          (click)="cerrarSesion()" >
    <i class="bi bi-door-open-fill"></i>
  </button>


</div>

<app-cargando-model  [visible]="visibleCargando()" [icono]="tipeResp()"
                     (cerrarIcono)="changeCargando(Boolean($event))"
                     (cerrarVisible)="changeIcono(Number($event))"

></app-cargando-model>
